:root {
  --color-background: white;
  --color-primary: #397e47;
  --color-secondary: #5aaf60;
  --color-accent: #4caf5042;
  --color-accent-secondary: #f2f2f2;
  --font: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
