:host {
  --font: "Trebuchet MS", Arial, Helvetica, sans-serif;
  --color-primary: #397e47;
  --color-secondary: #5aaf60;
  --color-accent: #4caf5042;
  --color-accent-secondary: #f2f2f2;

  display: block;
  font-family: var(--font);
}

.layout-wrapper {
  margin-left: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  height: 760px;
}

.right-column {
  height: 760px;
  background-color: rgba(30, 91, 28, 0.13);
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1.5
}

.summary {
  color: var(--color-primary);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.summary p {
  font-size: smaller;
}

#table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  table {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 800px) {
  table {
    margin-left: 30px;
    margin-right: 30px;
  }
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--color-accent-secondary);
}

tr {
  height: 55px;
}

tr:hover {
  background-color: var(--color-accent);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-secondary);
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination a {
  padding: 10px;
  color: var(--color-primary);
  font-size: smaller;
}

#chart-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

#chart-area h1 {
  color: var(--color-primary);
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  #chart-area {
    padding: 70px 10px;
  }
  #chart-area h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#chart-area .button {
  background-color: var(--color-secondary);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font);
  font-size: smaller;
  margin: 40px 40px 4px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

#chart-area text {
  font-size: 12px !important;
  font-weight: bold !important;
  fill: white !important;
  font-family: var(--font);
}

#footer {
  align-items: center;
  background:  var(--color-primary) !important;
  color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.upper {
  text-transform: uppercase;
}

#footer .card {
  margin-left: 50px;
}

#footer .copyright {
  margin-left: 50px;
  margin-right: 50px;
}

